@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
}

* {
  /* outline: 1px solid rgb(255, 53, 53) !important; */
  /* background: rgb(0 100 0 / 0.1); */
  scroll-behavior: smooth;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: 10; */
}

.background_gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: blur(100px);
  opacity: 0.15;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}
